<!DOCTYPE html>
<html>

<head>
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title">Welcome to the Text Summarizer</h1>
                        <p class="card-text">Use this service to generate text summaries.</p>
                        <p class="card-text">Go to <a class="btn btn-sm btn-outline-secondary" href="/summarize">SUMMARIZE</a> to use the summarization API.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html >