<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="{{ url_for('static', filename='banner.png') }}" alt="Logo" class="logo img-fluid">
                </div>
                <h1 class="text-center">Login</h1>
                <form method="POST" class="mt-4">
                    <div class="form-group">
                        <input type="text" placeholder="Username" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="input-group mb-5">
                        <input placeholder="Your password" type="password" class="form-control" id="password" name="password" required>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i id="showPasswordIcon" class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    const passwordInput = document.getElementById("password");
    const showPasswordIcon = document.getElementById("showPasswordIcon");

    showPasswordIcon.addEventListener("click", () => {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            showPasswordIcon.classList.remove("fa-eye");
            showPasswordIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            showPasswordIcon.classList.remove("fa-eye-slash");
            showPasswordIcon.classList.add("fa-eye");
        }
    });
</script>

</html>